# PostgreSQL
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=AquaPassDb

# JWT
JWT_SECRET=super_secret_jwt_key_minimum_32_characters_long

# Email Settings (Gmail App Password)
EMAIL_SENDER=example@gmail.com
EMAIL_PASSWORD=your_16_char_app_password

# Monobank
MONOBANK_TOKEN=your_token_here